@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700,800,900);

@import 'bourbon/bourbon';

/* ==========================================================================
   Variables
   ========================================================================== */

// Common Colours
$black: #373737;
$beige: #f2f2ea;
$red: #de6262;
$main_border_color: #c8c7ed;

/* ==========================================================================
   Global Styles
   ========================================================================== */

body {
	direction: ltr;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif !important;
	padding: 0px !important;
	margin: 0px !important;
	overflow-x: hidden;
	overflow-y: hidden;
}

body,
.main-container,
.footer,
.main-navigation,
.main-content, ul.main-navigation-menu > li > ul.sub-menu,
.navigation-small ul.main-navigation-menu > li > ul.sub-menu  {
	background-color: $beige !important;
}

.container {
	padding:0px;
}

.main-content {
	.row {
		> .container {
			float: left;
			width: 98%;
		}
	}
}

/* ==========================================================================
   Landing Screen
   ========================================================================== */

.landing-screen {
  min-height: 100vh;
  width: 100%;
  background: url('../images/landing_screen/kitchen.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.landing-container {
  max-width: 400px;
  padding: 2em 0 0 0;
  margin: auto;
}

/* ==========================================================================
   Top Navigation
   ========================================================================== */

.navbar-inverse {

	background: $black;
	max-height:50px;
	border:0px;

	.navbar-brand {
		color: white;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 300;
	}
	
	.navbar-right{
		display:inline-flex;
	}
	
	ul.utility-dropdown{
		display: none;
		list-style: none;
		text-decoration: none;
		float: left;
		width: 107px;
		text-align: left;
		padding: 0px;
		position: absolute;
		background-color: #FFFFFF;
		border-left: 1px solid #C7CBD5;
		border-right: 1px solid #C7CBD5;
		border-bottom: 1px solid #C7CBD5;
	}
		
	ul.utility-dropdown li{
		width:105px;
	}
	
	ul.utility-dropdown li:hover{
		background-color:#F4F6F9;
		cursor:pointer;
	}
	
	li.navbar-right-main-link{
		margin-right: 5px;
		text-align: center;
		text-decoration: none;
		list-style: none;
	}
	
	.utility-header-link{
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	li.navbar-right-main-link a{
		color:white;
		padding: 20.5px 10px 15px;
		text-transform:uppercase;
		font-size:1.1em;
		line-height:1;
	}
	
	li.navbar-right-main-link:hover > a{
		background-color: #2C2C2C;
		color:white;
	}
	
	li.navbar-right-main-link:hover ul.utility-dropdown{
		display:block;
	}
	
	li.navbar-right-main-link ul a{
		display:block;
		color:black;
		text-transform:none;
		text-decoration:none;
		font-size:1em;
		padding:7px;
	}
		
	li.dropdown > a{
		padding:15.5px 20px 12px;
		margin:0px;
		color:white;
	}
	
	li.dropdown > a:hover{
		background-color: #2C2C2C;
	}
	
	.open > a{
		background-color: #2C2C2C;
	}

	.badge{
		background-color:#de6262!important;	
		padding:4px 6px !important;
		border-radius:20px !important;
		right: 5px !important;
		top:4px !important;
	}
}

.context-opener thead th {
	padding: 0;
	padding: 1em;
	font-size: 1.1em;
	border-color: black;
}

.context-opener tbody td {
	padding: 0;
	padding: 0.8em;
	width:16.6%;
}

.context-opener tbody tr {
	border-color: black;
	cursor: pointer;
}

.context-opener {
	margin-bottom: 0px;
	display:block;
}

table > tfoot{
	display:table !important;
	width:100%;
}

.table-header-width{
	width:16.7%;
}

/* ==========================================================================
   Left Navigation
   ========================================================================== */

.main-navigation {

	margin: 23px 0 0 0;
	height: 80vh !important;
	font-weight: 400;

	ul.main-navigation-menu {

		width: 225px;
		border-right: 1px solid $main_border_color;

		> li a {
			font-size: 1.2em;
			color: #645555;
			padding: 1em 1.4em;
			border-top: 1px solid $main_border_color;
		}

		> li:last-of-type a {
			border-bottom: 1px solid $main_border_color;
		}

		> li a:hover {
			color: white;
			background-color: $red;
			@include transition (all 0.1s linear);
		}

		> li a > i {
			color: #645555;
			font-weight: normal;
		}

		> li.active > a {
			background: $red !important;
			color: white;
		}

		> li.active > a .selected:before {
			color: $red !important;
		}

		> li.active > a i {
			color: #2c3e50;
		}

		> li.open > a, ul.main-navigation-menu > li > a:hover, ul.main-navigation-menu > li:hover > a {
			background-color: $red;
			color: white;
		}

	}

}


/* ==========================================================================
   Scratchpad
   ========================================================================== */
 
 .draggable{
 	z-index: 1000 !important;
	cursor: pointer;
 }
 
 .panel-group-scratchpad{
 	max-height:70vh;
 	overflow-y:scroll;
 }
   
.scratchpad {

	position: absolute;
	top: 122px;
	width: 15%;
	right: -15%;
	background-color: #333;
	margin: 2em 0 0 0;
	
	> p {
	  color: white;
	  padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}

	.scratchpad-toggle {
		position: absolute;
		top: 37px;
		left: -35px;
		background: #ffffff;
		cursor: pointer;
		height: 38px;
		width: 35px;
		border: 1px solid rgba(23, 24, 26, 0.15);
		border-right: none;
		border-radius: 5px 0 0 5px;
		line-height: 37px;
		text-align: center;
		color: #007AFF;
		font-size: 14px;
	}
	
	.scratchpad-toggle:after {
		content: "\e163";
		font-family: 'clip-font';
	}
	
	.scratchpad-toggle.open:after {
		content: "\e162";
		font-family: 'clip-font';	
	}
	
	.panel {
		margin: 0 !important;
		border-radius: 0; 
    	border:none;
	}
		
	.panel-title {
		font-size:14px !important 
	}
	
	.panel-heading > h4 > a:hover {
		text-decoration:none
	}
	
	.scratchpad-pagination {
		width: 100%;
	    color: white;
	    padding: 0em 2em 2em 2em;
    }
    
    .scratchpad-body{
    	border-bottom: 1px solid #dddddd;
    }
    
    .next {
      float: right;
    }
    
    .prev {
      float: left;
    }
    
    .disabled {
      color: #DDD;
    }
	
    > .multi-level > .scratchpad-header.collapsed.panel-title:before,
    > .multi-level > .scratchpad-header-preview.collapsed.panel-title:before
     {
		content: "\e162" !important;
		font-family: 'clip-font' !important;
	}
	
    > .multi-level > .scratchpad-header.panel-title:before,
    > .multi-level > .scratchpad-header-preview.panel-title:before {
		content: "\e164" !important;
		font-family: 'clip-font' !important;
	}

	.panel-heading.scratchpad-header,
	.panel-heading.scratchpad-header-preview{
		background-color:#de6262 !important;
		color:white !important;
		cursor:pointer;
	}
	
	.panel-heading.scratchpad-header.collapsed,
	.panel-heading.scratchpad-header-preview.collapsed {
		background-color:white !important;
		color:black !important;
	}
	
	.panel-heading.scratchpad-header.collapsed:hover,
	.panel-heading.scratchpad-header-preview.collapsed:hover {
		background-color:#de6262 !important;
		color:white !important;
	}
	
	.panel-heading {
		border-radius:0px;
	}
}


/* ==========================================================================
   Main Content Area
   ========================================================================== */

.main-content {

	margin: 0 0 0 225px;
	background-color: $beige;

	.container {
		padding: 2em;
	}

}

// Main content tabs
.main-content > .row > .nav-tabs {

	font-size: 1.2em;
	padding: 2em 0 0 3em;

	li {
		margin: 0 0.5em;
	}

	li > a {
		padding: 0.8em 1em;
		background-color: $red;
		color: white;
		font-weight: 700;
		border: none;
	}

	li.active > a {
		color: #948082;
		background-color: $beige;
		border: 1px solid $main_border_color;
		border-bottom: 1px solid $beige;
		margin-bottom: -1px;
	}

}

.critical-warning{
	color:#de6262;	
	font-weight:bold;
}

/* ==========================================================================
   Asset Landing Screen
   ========================================================================== */

.table {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
 
  thead {
    th {
      padding: 0;
      padding: 1em;
      font-size: 1.1em;
      border-color: black;
    }
  }
 
  tbody {
    td {
      padding: 0;
      padding: 0.8em;
    }
    tr {
      border-color:black;
      cursor: pointer;
    }
  }
 
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
 
  tbody tr:nth-child(even) {
    background-color: white;
  }
 
  tbody tr:hover > td {
    background-color: #996262;
    color: white;

  }
  
  tfoot .load-more-assets:hover {
   cursor: pointer;
   background-color: white;
  }
 
}

.table{
	margin-bottom:0px;
}

.table-header{
	margin-right:15px;
}

/* ==========================================================================
   Form Panel
   ========================================================================== */

.form-panel {

	border-radius: 7px;

	.panel-heading {

		@include background(linear-gradient(#eeebf5, #f4f2f8) bottom repeat);

	}

	.form-tabs {

		padding: 0;
		margin-top: -29px;

		li {
			margin: 0;
		}

		li > a {
			padding: 0.8em 1em;
			@include background(none);
			box-shadow: none;
			color: #7c7c7c;
			font-weight: 600;
			font-size: 1.1em;
			border: 1px solid $main_border_color;
			border-top: none;
		}

		li.active > a {
			background-color: white;
		}

	}

	.label-icons {

		width: 100%;

		.fa {
			cursor: pointer;
			font-size: 1.5em;
			margin: 0 2px;
			float: right;
		}

		.input-add-icon {
			color: #127e59;
		}

		.input-remove-icon {
			color: #ed1c24;
		}

	}

	.form-field-margin {
		margin-top: 20px;
	}
	
	.fileupload{
		width:317px;
	}

	.fileupload-img {
		width: 100%;
		height: auto;

		img {
			width: 100%;
		}

	}
	
	.fileupload-file {
	  .form-control {
	    width: 16.5vw;
	    overflow: hidden;
	  }
	}

}

.inner-form-panel {

	margin: 0 -15px;

	.accordian-toggle {

		@include background(linear-gradient(#eeebf5, #f4f2f8) bottom repeat);

	}

	.panel-body {
		padding: 15px;
	}
	
	.input-group{
		position: relative;
		width: 100%;
	}
	
	.input-group-btn{
		border-radius:0;
	}
	
}

/* ==========================================================================
   User Data
   ========================================================================== */

// View Lists
.view-list {

	ul { 
		list-style:none;
		
		li{
		
			span.sub-menu-heading{
				padding:10px;
				display:block;
				cursor:pointer;
			}
		}
	}
	.is-list{
	padding:10px;
	display:block;
	cursor:pointer;
	}
}

// Edit Lists
.edit-lists {

}

/* ==========================================================================
   Context Menu
   ========================================================================== */

.contextmenu hr{
	margin: 5px 0px 5px 0px;
}

.contextmenu a:hover {
	text-decoration: none;
}

.contextmenu{
	background-color: #fff;
	border:1px solid #888888;
	width: 170px;
	display: block;
	display: none;
	position: absolute;
	box-shadow: 3px 3px 3px #888888;
}

.contextmenu > ul li:hover > div > ul{
	display: block;
}

.contextmenu ul{
	width: 100%;
	list-style: none;
	position: relative;
	display: inline-block;
	padding: 5px 0px 5px 0px;
	margin-bottom: 0px;
}

.contextmenu ul li{
	width: 100%;
	padding: 2px 0px;
	margin-bottom: 0px;
	color: #645555;
	position: relative;
	padding-left: 10px;
}

.contextmenu ul li i{
	width:  25px;
}

.contextmenu ul li:hover{
	background-color: #4281F4;
	color: white;
}

.contextmenu ul li a{
	display: block;
	color: #757575;
}

.contextmenu ul li:hover a{
	text-decoration: none;
	color: white;
}

.contextmenu ul li:hover ul{
	margin: 0px;
	padding:0px;
	color: #666;
	min-width: 150px;
}
.contextmenu ul li:hover ul li{
	float: none;
	display: block;
} 

.contextmenu ul li ul{
	position: absolute;
	top: 0px;
	left: 178px;
}

/* ==========================================================================
   Asset Details Table Styles
   ========================================================================== */
   
.panel-heading-separate {
	background-color:#f3f3f3;
	font-size: 1.1em;
	line-height:2;
	color: Black !important;
	padding-left:10px;
	border-bottom: 1px solid #F3F3F3;
	height:30px;
	text-transform:uppercase;
}

.inner-scroll{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:70vh;
	width:100%;
	padding:0px;
}

.scroll-content{
	display: block;
	max-height: 60vh;
	overflow-y: scroll;
	width: 100%;	
}

.no-margin{
	margin:0px;
}

.no-padding-left{
	padding-left:0px
}

.no-padding-right{
	padding-right:0px
}

.padding-left{
	padding-left:30px;
}

.padding-right{
	padding-right:30px;
}

.padding-bottom{
	padding-bottom:20px;
}

.border{
	border-bottom: 3px solid #f3f3f3;
	border-left: 3px solid #f3f3f3;
	border-right: 3px solid #f3f3f3;
	width:100%;
	height: 100%;
	display:inline-block;
	padding-bottom: 10px;
}

p.small-heading{
	font-size:12px;
	margin-left:10px;
	line-height:1.6;
}

.panel-body-thin{
	padding:10px 0px 0px 0px;
	background-color:white;
}

/* ==========================================================================
   Login Screen Styles
   ========================================================================== */
.login-landing-screen{
	min-height: 100vh;
	width: 100%;
	
/* =========== This is the background image for the login screen ============ */
	background: url('../images/landing_screen/kitchen.jpg') no-repeat center center fixed;
/* ========================================================================== */

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

p.login-screen-logo{
	color: #d9534f;
	font-size: 25px;
	/* font-family: Open Sans Bold; */
	margin-top: 7px;
	margin-left: 20px;   
}

.login-screen-landing-container{
	height:100vh;
	text-align:center;
	padding: 2em 0 0 0;
	margin: auto;
}

.panel-login{
	background-color:none;
	border-color:none;
	margin-top:32vh;
}

.login-button {
	border-radius: 0px;
	width:150px;
	font-size:20px;
	border-color: #d9534f;
}

h1.login-header-text{
	font-family :Open Sans Bold;
	Color :#fff;
	text-shadow: -4px 4px 4px rgba(47, 47, 47, 1);
	margin-bottom:40px;
	font-size:75px;
}

.tab-content{
	border:none;
}
/* ==========================================================================
   Email Modal Classes
   ========================================================================== */
textarea {
 	max-width:100%;
 	max-height:25vh;
 }
 
 .modal-header > h3, h4, h5{
 	display:inline;
 		
 } 
 
 .email-padding{
 	padding-bottom:2px;
 }
 
 .input-group-addon-size{
 	background-color:white;
 }
 
 input.email-header-to{
 	width:400px;
 	border:none !important;
 	color:black !important;
 }
 
 .email-modal-inner-scroll{
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 15vh;
	width: 100%;
}
 
 /* ==========================================================================
   Detailed Asset Screens Classes
   ========================================================================== */ 
.detailed-view{
	position: relative;
	top: -4px;
	z-index: 1;
}

.detailed-view-back{
	padding-left:50px;
}

.detailed-view-back:hover{
	color:#de6262;
	text-decoration:none;
}

.btn-position{
	position: relative;
	bottom: 9px;
	left: 20px;
}

.detail-heading{
	font-size: 16px;
	font-weight: 600;
	line-height: 0.9;
}

/* ==========================================================================
   Modal Classes
   ========================================================================== */ 


.modal-body{
	padding:0px
}

.modal-table-td-styling{
	padding: 0px 0px 0px 10px !important;
	line-height:2.5 !important;
}

.modal-inner-scroll{
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 30vh;
	width: 100%;
	padding-left: 10px;
}

.modal-header{
	margin-bottom:10px;
}

.modal-header h3{
	margin:0px;
}

.modal-footer{
	padding:10px;
}

.modal-content{
	margin-top:10px;
}

.modal-backdrop.fade.in{
background-color: #333;
}

.modal{
	top:0 !important;
	margin-top:10% !important;
}

.table-hover > tbody > tr:hover{
	> td {
		background-color: #de6262;
		color:white;
			> a{
				color:white;
				}
	}
	
	> th.checkbox-holder-size{
		background-color: #de6262;
	}
}

tr{
	cursor:pointer;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.modal-btn{
	padding: 5px 10px;
	border-radius:0px;
}

.create-icon{
	display:inline;
	padding: 6px 10px 7px 10px;
	margin-right: -3px;
}

.create-list-input{
	padding: 6px 10px 9px 10px !important;
	height: 34px !important;
	width:355px;
	line-height: 2.3 !important;
	margin-right: -3px !important;
}


/* ==========================================================================
   Helper Classes
   ========================================================================== */ 
.no-padding {
  padding: 0;
}
	
.accepted-droppable,
.valid-deepcopy { 
  border-color: #3c763d !important;
  box-shadow: 0px 0px 3px 3px rgba(60,118,61,1) !important;
}

.selected-row {
  background-color: #ffa3a4 !important;
  @include transition (all 0.1s linear);
}

.no-border{
	border:none !important;
}

.no-radius{
	border-radius: 0;
}

.margin-left{
	margin-left:20px;
}

.margin-right{
	margin-right:10px !important;
}

.margin-right-twentyone{
	margin-right:21px !important;
}
.margin-right-three{
	margin-right:3px !important;
}
.newPolicy-margintop{
	margin-top: 23px;
}

.checkbox-holder-size{
	width:20px;
}

.checkbox-padding-top{
	padding-top: 25px !important;
}

.center{
	margin-left:130px;
	width:100px;
}

.splash-buttons{
	height: 30px;
	margin-top: -6px;
	line-height: 1.1;
}

.pad-top{
	padding-top:10px;
}

.margin-top{
	margin-top:10px;
}

.margin-bottom{
	margin-bottom:10px;
}

#indemnities-toggle{
	cursor:pointer;
}

.insurance-hidden{
	display:none;
	height:100%;
	overflow:hidden;
}

.max-policy-width{
	width:470px !important;
}

.word-wrap{
	word-wrap: break-word;
}

.sidebar-toggler{
	padding: 16px;
}

.warranty_policy{
	display: none;
}
